
#return-to-page{
    height: 30px;
}

.glass{
    display:grid;
        grid-template-columns: 1fr 1fr;
   background-image: $gameBackground;
   height:70vh;
   border-radius:4em;
   margin: 20px;

}
.header{

    display: flex;
    align-items: center;
    justify-content: center ;
}
#survey-form{

}
#visual-game{
    border: solid 2px red;

}

#visual-game,#survey-form{
    margin: 100px;
}
